---
import { ClientRouter } from 'astro:transitions';
import '@fontsource/poppins';
import '@fontsource-variable/jetbrains-mono';
import 'remark-github-blockquote-alert/alert.css';
import '../../styles/global.css';

export interface Props {
  docTitle: string;
  docDescription: string;
  docOgUrl: string;
  docOgImage?: string;
}

const {
  docTitle,
  docDescription,
  docOgUrl,
  docOgImage = 'https://flashblaze.xyz/og_image.png',
} = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<head>
  <script type='text/javascript'>
    (function (c, l, a, r, i, t, y) {
      c[a] =
        c[a] ||
        function () {
          (c[a].q = c[a].q || []).push(arguments);
        };
      t = l.createElement(r);
      t.async = 1;
      t.src = 'https://www.clarity.ms/tag/' + i;
      y = l.getElementsByTagName(r)[0];
      y.parentNode.insertBefore(t, y);
    })(window, document, 'clarity', 'script', 'dlytpbfc57');
  </script>

  <title>{docTitle}</title>
  <meta name='author' content='Neeraj Lagwankar' />
  <meta name='description' content={docDescription} />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  <meta property='og:url' content={docOgUrl} />
  <meta property='og:description' content={docDescription} />
  <meta property='og:title' content={docTitle} />
  <meta property='og:image' content={docOgImage} />
  <meta property='og:type' content='website' />

  <meta name='twitter:url' content={docOgUrl} />
  <meta name='twitter:image' content={docOgImage} />
  <meta name='twitter:card' content='summary' />
  <meta name='twitter:creator' content='@neeraj_artx' />
  <meta name='twitter:title' content={docTitle} />
  <meta name='twitter:description' content={docDescription} />
  <link rel='me' href='https://fosstodon.org/@flashblaze' />
  <link rel='me' href='https://mastodon.social/@neeraj_artx' />
  <link rel='canonical' href={canonicalURL} />
  <link rel='sitemap' href='/sitemap-index.xml' />
  <ClientRouter />
</head>
