---
import { getCollection } from 'astro:content';
import { Picture } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import Main from '../layouts/Main.astro';
import GraphicsCard from '../components/Astro/GraphicsCard.astro';
import Link from '../components/Astro/Link.astro';

import Image1 from '../../public/affinity-img-1.jpg';
import Image2 from '../../public/affinity-img-2.jpg';
import Image3 from '../../public/blender-img-1.jpg';

const posts = await getCollection('posts');

const sortedPosts = posts.sort((a, b) => {
  const d1 = new Date(a.data.date);
  const d2 = new Date(b.data.date);

  return d2.getTime() - d1.getTime();
});

const latestPost = sortedPosts[0];
const date = new Date(latestPost.data.date);
const latestPostDate = date.toUTCString().slice(0, 16);
---

<Main
  title='Neeraj Lagwankar'
  description='Frontend developer and 2D/3D enthusiast'
  ogUrl='https://flashblaze.xyz'
>
  <h1 class='font-bold text-3xl'>Neeraj Lagwankar</h1>
  <p class='text-gray-700 dark:text-gray-400'>
    Developer, amateur photographer and <i><del>professional</del></i> wannabe artist
  </p>
  <div class='flex my-3 gap-5'>
    <a target='_blank' href='https://twitter.com/neeraj_artx'>
      <Icon name='mdi:twitter' class='text-blue-400 w-7 h-7' title='Twitter' />
    </a>
    <a target='_blank' href='https://github.com/flashblaze'>
      <Icon
        name='mdi:github'
        class='dark:text-white text-black w-7 h-7'
        title='Twitter'
      />
    </a>
    <a target='_blank' href='https://instagram.com/neeraj_artx'>
      <Icon
        name='mdi:instagram'
        class='text-rose-500 w-7 h-7'
        title='Instagram'
      />
    </a>
    <a target='_blank' href='https://www.linkedin.com/in/neeraj-lagwankar/'>
      <Icon
        name='mdi:linkedin'
        class='text-blue-500 w-7 h-7'
        title='LinkedIn'
      />
    </a>
    <a
      target='_blank'
      href='https://www.youtube.com/channel/UCQKfDFA1cCAB1Oq5B6Vr7ew'
    >
      <Icon name='mdi:youtube' class='text-red-500 w-7 h-7' title='YouTube' />
    </a>
    <a target='_blank' href='https://unsplash.com/@neeraj_artx/'>
      <Icon
        name='ri:unsplash-fill'
        class='dark:text-slate-200 text-black w-7 h-7'
        title='Unsplash'
      />
    </a>
  </div>
  <hr class='mt-2 mb-4' />
  <div class='flex flex-col'>
    <p>
      I'm currently working as a frontend engineer at <Link
        href='https://codebuddy.co'
        newTab
      >
        Codebuddy
      </Link>and trying to learn <Link
        href='https://affinity.serif.com/en-us/photo/'
        newTab
      >
        Affinity Photo
      </Link> and <Link href='https://blender.org/' newTab>Blender.</Link>
    </p>
    <h3 class='my-4 text-2xl font-bold'>Some graphics stuff</h3>
    <div class='flex gap-2 flex-col sm:flex-row'>
      <GraphicsCard href='https://www.instagram.com/p/CgU30DBj8qs/'>
        <Picture
          src={Image1}
          alt='Black and white statue whose face is pixelated and lost identity is written behind it'
          loading='eager'
          formats={['avif', 'webp']}
        />
      </GraphicsCard>
      <GraphicsCard href='https://www.instagram.com/p/CeJs2trN0yz/'>
        <Picture
          src={Image2}
          alt='3D cube in front of 3 glowing spheres'
          loading='eager'
          formats={['avif', 'webp']}
        />
      </GraphicsCard>
      <GraphicsCard href='https://www.instagram.com/p/BqHgzG9n_l_/'>
        <Picture
          src={Image3}
          alt='Blurred out colourful gradient circle inside a square which is on top of blurred out colourfu; gradient'
          loading='eager'
          formats={['avif', 'webp']}
        />
      </GraphicsCard>
    </div>
    <h3 class='my-4 text-2xl font-bold'>Latest post</h3>
    <div
      class='border-2 border-gray-500 flex flex-col rounded-md p-3 hover:shadow-2xl mb-4'
    >
      <a
        href={`/posts/${latestPost.slug}`}
        data-astro-reload={latestPost.slug === 'integrating-sandpack'}
      >
        <p class='font-medium'>{latestPost.data.title}</p>
        <p class='text-sm font-semibold text-gray-700 dark:text-gray-400'>
          {latestPostDate}
        </p>
      </a>
    </div>
  </div>
</Main>

<style is:global>
  p {
    margin: 0.25rem 0;
  }
</style>
