---
export interface Props {
  title: string;
  description: string;
  ogUrl: string;
  ogImage?: string;
}

const { title, description, ogUrl, ogImage } = Astro.props as Props;
// import '@fontsource/montserrat';
// import '@fontsource/montserrat/500.css';
// import '@fontsource/montserrat/600.css';
// import '@fontsource/montserrat/700.css';
import Link from '../components/Link.astro';
import SEO from '../components/SEO.astro';
---

<html lang='en'>
  <SEO
    docTitle={title}
    docDescription={description}
    docOgUrl={ogUrl}
    docOgImage={ogImage}
  />
  <body
    class='dark:bg-zinc-900 dark:text-white text-black font-sans w-full max-w-3xl mx-auto'
  >
    <div class='flex flex-col justify-center px-8'>
      <nav class='flex items-center py-8'>
        <Link href='/' customClass=''>Home</Link>
        <Link href='/posts' customClass='ml-5'>Posts</Link>
      </nav>
      <main id='swup' class='flex flex-col justify-center p-0 transition-fade'>
        <slot />
      </main>
    </div>
    <style>
      .transition-fade {
        transition: 0.02s;
        opacity: 1;
      }

      html.is-animating .transition-fade {
        opacity: 0;
      }
    </style>
  </body>
  <script>
    navigator.serviceWorker.getRegistrations().then(workers => {
      workers.forEach(worker => {
        if (worker.scope === 'https://flashblaze.xyz/') {
          worker
            .unregister()
            .then(() => console.log(`Unregistered worker: ${worker.scope}`))
            .catch(err => console.log(err));
        }
      });
    });
  </script>
</html>
